/* Base Doc */

body{
    margin: 0;
}

/* Header */

.logo {
    max-height: 10rem;
    margin-top: 1rem;
}

header {
    background-color: #334345;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #D8D8D4;
    padding: 2rem;
    margin: 0;
}

.menu-btn {
    cursor: pointer;
}

.bar {
    width: 35px;
    height: 6px;
    background-color: #D8D8D4;
    margin: 9px 0;
    transition: 0.4s;
}

.menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 1rem;
    left: -250px; 
    background-color: #333;
    padding: 15px;
    width: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    align-items: center;
}

.menu.open{
    display: flex;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: 0.2s;
}

.menu a:hover {
    background-color: #555;
}

.circular-logo {
    display: none;
}

/* Queries For Nav */

@media only screen and (min-width: 768px) {
    .menu {
        display: flex;
        position: relative;
        left: 0;
    }

    .menu-btn {
        display: none;
    }

    .circular-logo {
        display: block;
        order: 2; /*puts logo in the center of menu items*/
    }
}